{% extends "general/layout.html" %}

{% block body %}
    <div>
        <h1>Administradores</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <b><p>ID | Nombre usuario</p></b>
        
        {% for admin in admins %}
            {{ admin.id }} {{ admin.username }}
            <br>
        {% endfor %}
    </div>
{% endblock %}