{% extends "general/layout.html" %}
{% load static %}
{%block link%}
<link rel="stylesheet" href="{% static 'papeleria/css/Bootstrap-4---Payment-Form.css' %}">
<link rel="stylesheet" href="{% static 'papeleria/css/Contact-form.css' %}">
<link rel="stylesheet" href="{% static 'papeleria/css/Login-Form-Basic-icons.css' %}">
<link rel="stylesheet" href="{% static 'papeleria/css/PHP-Contact-Form-dark-contact.css' %}">
<link rel="stylesheet" href="{% static 'papeleria/css/PHP-Contact-Form-dark.css' %}">
<link rel="stylesheet" href="{% static 'papeleria/css/Responsive-Form-Contact-Form-Clean.css' %}">
<link rel="stylesheet" href="{% static 'papeleria/css/Responsive-Form.css' %}">
{%endblock%}

{%block script%}
<script src="{% static 'papeleria/js/Bootstrap-4---Payment-Form.js' %}"></script>
<script src="{% static 'papeleria/js/PHP-Contact-Form-dark-1.js' %}"></script>
<script src="{% static 'papeleria/js/PHP-Contact-Form-dark.js' %}"></script>
{%endblock%}
{% block body %}

<div class="container">
    <div>
        <form action="add_customer" method="POST" enctype="multipart/form-data" class="mt-5" style="padding-top: 5px;">
            {% csrf_token %}
            <div class="form-group ml-5 mt-5 pb-0" style="margin-top: 25px;">
                <div id="formdiv" style="background: #ffffff;" class="mr-5 ml-5">
                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;">
                        <div class="col">
                            <h1 class="text-center" style="font-weight: bold;">Adicionar cliente</h1>
                        </div>
                    </div>
                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;">
                        <div class="col-md-8 offset-md-1">
                            {% if newCustomerForm.id.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>El cliente con esta cedula ya existe.</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <p style="font-family: Roboto, sans-serif;font-size: 24px;" class="ml-0"><strong>Cedula o
                                    Nit:</strong></p>

                        </div>
                        <div class="col-md-10 col-lg-9 col-xl-9 offset-md-1">
                            {% if newCustomerForm.id.errors %} 
                            <input type="text" class="form-control is-invalid" id="id" name="id"
                                    value="{{ newCustomerForm.id.value }}" placeholder="Cedula o Nit" required="" minlength="0">
                            {% else %}
                            <input class="form-control" type="number"style="margin-left: 0px;font-family: Roboto, sans-serif;" name="id" id="id" placeholder="Cedula o Nit" required="" minlength="0">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;margin-top: -1px;padding-top: 0px;">
                        <div class="col-md-8 col-lg-2 col-xl-2 offset-md-1">
                            <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 24px;margin-bottom: 1px;"
                                class="pr-0"><strong>Nombre:</strong></p>
                        </div>
                        <div class="col-md-10 col-lg-9 offset-md-1">
                            {% if newCustomerForm.id.errors %}
                            <input type="text" class="form-control" id="name" name="name"
                                    value="{{ newCustomerForm.name.value }}" placeholder="Nombre" required="">
                            {% else %}
                            <input class="form-control" type="text" style="margin-left: 0px;font-family: Roboto, sans-serif;" name="name" id="name" placeholder="Nombre" required="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 1px;">

                        <div class="col-md-8 col-lg-2 offset-md-1">
                            <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 24px;margin-bottom: 0px;"
                                class="ml-0"><strong>Telefono:</strong></p>
                        </div>
                        <div class="col-md-10 col-lg-9 offset-md-1">
                            {% if newCustomerForm.id.errors %}
                            <input type="text" class="form-control" id="phone" name="phone"
                                    value="{{ newCustomerForm.phone.value }}" placeholder="Telefono" required="">
                            {% else %} 
                            <input class="form-control" type="number" style="margin-left: 0px;font-family: Roboto, sans-serif;" name="phone" id="phone" placeholder="Telefono" >
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 0px;">
                        <div class="col-md-8 offset-md-1">
                            <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 24px;margin-bottom: -1px;"
                                class="ml-0"><strong>Correo&nbsp;electrónico:</strong></p>
                        </div>
                        <div class="col-md-10 col-lg-9 offset-md-1">
                            {% if newCustomerForm.id.errors %}
                            <input type="text" class="form-control" id="email" name="email"
                                    value="{{ newCustomerForm.email.value }}" placeholder="Correo electrónico" >
                            {% else %}
                            <input class="form-control" type="email" style="margin-left: 0px;font-family: Roboto, sans-serif;" name="email" id="email" placeholder="Correo electrónico" >
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row justify-content-end"
                        style="margin-right:0px;margin-left:0px;padding-top:24px;">
                        <div
                            class="col-lg-7 col-xl-5 justify-content-end align-items-end align-content-end align-self-end ml-auto">
                            <button class="btn btn-light btn-lg" style="font-family:Roboto, sans-serif;"
                                type="reset">cancelar</button><button class="btn btn-light btn-lg"
                                style="margin-left: 14px;" type="submit">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}