{% extends "general/layout.html" %}

{% block body %}
    <div>
        <h1>Usuarios</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <b><p>ID | Nombre usuario | Tipo Usuario</p></b>
        
        {% for user in users %}
            {{ user.id }} {{ user.username }}
            {% if user.is_admin %}
                Admin
            {% else %}
                Vendedor
            {% endif %}
            <br>
        {% endfor %}
    </div>
{% endblock %}